#chat-component {
    display: none;
}
.issue-empty-list{
    text-align: center; /*if no issues in repo*/
}
.issues-comments-div {
    display: none;
}

.statistic-info-div{
    /*дів із даними статитстики із АПІ пітона*/
}

.common-info-div{
    /*дів із загальною інфою*/
}

/*--- Dialog - issues list ---*/
.issue-status {
    /*статус issue*/
}
.issue-title {
    /*назва issue*/
}

/*--- Dialog - issue comments list ---*/
#back-button {
    /*кнопка BACK*/
}
.comment-message{
    /*повідомлення (коменти) в issue*/
}
.comment-author {
    /*автор повідомлення в issue*/
}
.comment-date {
    /*дата повідомлення в issue*/
}
#send-message-button {
    /*кнопка відіслати повідомлення*/
}
#send-message-input {
    /*інпут для повідомлення*/
}